@import url("https://fonts.googleapis.com/css?family=Noto Sans Kannada UI");

body{

 background-image:url("imagenes/ponyofondo.png"); 
 background-size: cover;
 background-repeat: no-repeat;
 background-position-x: center;
 background-attachment: fixed;
 margin: 0;
 padding: 0;
 margin-bottom: 55%;
    
}
.flex-conteiner {
  display: flex;
}
 
.Logostudio {

 margin-left: 45%;
 width: 24%;
}
audio {
  margin-top: 1%;
  margin-left: 10%;
  height: 20px;
  width: 103px;
  
}
.botones{ 

  display: flex;
  width: 78%;
  margin-left: 11%;
  background: #441E62;
  border-radius: 18px;
}

 ul {
    
    display: flex;
    list-style: none; 
    padding-top:0%;
  } 
 
  a {
    color: #fff;
    padding: 30px;
    font-size: 26px;
  }
  
  a:hover {
    color: rgb(125, 154, 180);
    transition: 0.5s;
  }

.Buscar input{
  display:flex;
  width: 57%;
  height: 80%;
  border-radius: 18px;
  margin-left: 50%;
  margin-left: 35%;
}

.img1{

position: relative;
width: 25%;
left: 14%;
margin-top: 4%;
border-radius: 18px;
border: 10px solid rgb(32,4, 53, 0.95);
}

.reseñaSG{
 position: relative;
  width: 35%;
  left: 25%;
  margin-top: 4%;
  background: rgba(32, 4, 53, 0.95);
  border-radius: 18px;
  
}

p{
margin: 20px;
text-align: justify;
color: white;
font-family: 'Noto Sans Kannada UI';
font-size: 21px;
}

p1{
 
  color: white;
  font-family: 'Noto Sans Kannada UI';
  font-size: 17px;
  }

#section-peliculas{
  width: 78%;
  margin-left: 11%;
  justify-content: space-around;
  background: #441E62;
  border-radius: 18px;
  margin-top: 8%;
  height:70px;
  
}

.films{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: rgba(32, 4, 53, 0.95);
  border: 10px solid rgb(32,4, 53, 0.95);
  border-radius: 18px;
  margin: 10%;
  margin-top: 5%;
  perspective: 1000px; 
  
}
.selectFilm{
  border-radius: 10em;
  margin-left: 13%;
  margin-top: 3%;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}
.containerCard {
  margin: 2%;
  display: flex;

  
}   

.containerCard:hover {
  background: rgb(65, 39, 78);
  cursor: pointer;
  transition: 1s;
  transform: rotateY(180deg);
  
 
}

.containerPoster{
  
  backface-visibility: hidden;
}
/*.containerCard, .containerPoster {
  display:flex;
  width: 100%;
  height: 100%;
  
 
}*/
.poster {
  display: flex;
  border-radius: 2em; 

}

.modal-content{
  background: rgb(32,4, 53, 0.95);
  margin: 5%;
  margin-right: 16%;
  border-radius: 1em;
  display:flex;
  
  list-style: none; 
  
}
em{
margin: 2%;
text-align: justify;
color: white;
font-family: 'Noto Sans Kannada UI';
font-size: 17px;
}


/*.films-card {
  background-color: #5a387e;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
  cursor: pointer;
}

.flip-card-inner {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(190deg);
}


.flip-card-front, .flip-card-back {
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}


.flip-card-front {
  background-color: #bbb;
  color: black;
}
*/

.dataPersonajes{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  
  margin-top: 10%;
  background: rgba(32, 4, 53, 0.95);
  border: 5em; 
  border-radius: 2em;
  margin-right: 13%;
}
.imgPersonajes{
   display: flex;
   border-radius: 2em;
   
   width: 15%;

}
.dataUbicaciones{
background: rgb(32,4, 53, 0.95);
display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 padding: 1%;
  align-content:space-between;
 justify-content: space-evenly;
 border-radius: 2em ;
 margin: 5%;
 margin-right: 10%;
}
.imgUbicacion {
  display: flex;
  border-radius: 2em;
  width: 10em;
  height: 10em;
}



  
#section-personajes {
  width: 78%;
  margin-left: 11%;
  background: #441E62;
  border-radius: 18px;
  margin-top: 10%;
  height:40px;
  
  
}

/*#section-Historia{
  width: 78%;
  margin-left: 11%;
  background: #441E62;
  border-radius: 18px;
  margin-top: 8%;
  height:70px;
  text-align: center;
}*/

